/*************** Footer ***************/

#pagefooter {
	background: rgba(100,255,100,0.1);
	border-top: 2px solid rgba(0,0,0,0.1);
	border-bottom: 2px solid rgba(0,0,0,0.1);
}

//<footer id="pagefooter">
//	<section class="footer-subscribe">
//		<form action="#" method="post" accept-charset="utf-8">
//			<label for="footer-email">Subscribe to our Mailing List</label>
//			<input type="email" id="footer-email" value="" placeholder="enter email address >>">
//			<input type="submit" value="Continue &rarr;">
//		</form>
//	</section>
//	<section class="footer-meta">
//		<p>&copy; OBJECT 2012. All rights reserved/</p>
//		<p>Site by <a href="http://onlyorca.com">Orca Design</a></p>
//	</section>
//</footer>